pkgbase = ros-noetic-rosserial-arduino
	pkgdesc = ROS - rosserial for Arduino/AVR platforms.
	pkgver = 0.9.2
	pkgrel = 2
	url = https://wiki.ros.org/rosserial_arduino
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-message-generation
	depends = arduino-avr-core
	depends = ros-noetic-rospy
	depends = ros-noetic-rosserial-msgs
	depends = ros-noetic-rosserial-client
	depends = ros-noetic-message-runtime
	depends = ros-noetic-rosserial-python
	source = ros-noetic-rosserial-arduino-0.9.2.tar.gz::https://github.com/ros-drivers/rosserial/archive/0.9.2.tar.gz
	sha256sums = e96cdeb81e1c03fb1c5ad85a740cb0a1a0836c52a24c6a5d97c975084b49d576

pkgname = ros-noetic-rosserial-arduino

